body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  padding: 2rem;
  text-align: center;
}

select, button {
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  min-width: 100px;
  min-height: 30px;
}
select{
min-width: 160px;         
min-height: 35px;  
}

button:hover {
  background-color: #0056b3;
}

.weather-container {
    display: none;
    border: 20px solid #ccc;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #333;
}

