.lightbox {
  width: 100%;
  display: none;
}
h1{
  display: flex;
  justify-content: center;
  text-align: center;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.gallery img {
    width: 400px;
    height: 250px;
    cursor: pointer;
}
.lightbox {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
#close-btn {
    position: absolute;
    top: 5px; 
    right: 5px;  
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
}

