#drum-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
        
}

#pad-bank {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 20px;
    margin-bottom: 20px;
}

.drum-pad {
    width: 100px;
    height: 100px;
    background-color: #61dafb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #282c34;
}