body {
  margin: 0;
  font-family: sans-serif;
  transition: background 0.3s, color 0.3s;
}

ul {
  margin: 0;
  padding: 0;
}
.dropdown-item {
    width: 100%;
    padding: 12px;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
}

li {
  background-color:grey;
  list-style-type: none;
  padding: 14px 16px; 
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.menu li:hover {
  cursor: pointer;
}

#status {
  text-align: center;
  min-height: 20px;
}
.theme-light {
    background-color: #ffffff;
    color: #000000;
}
theme-dark {
    background-color: #121212;
    color: #ffffff;
}

.theme-ocean {
    background-color: #0077be;
    color: #e0f7fa;
}

.theme-nord {
    background-color: #2e3440;
    color: #d8dee9;
}