ul {
    list-style-type: none;
}
p {
  width: 50%;
}
button {
   background-color: white;
}
.favorite-icon {  
  transform: scale(1.5);
  color: black;
  cursor: pointer;
  border: none; 
}
.filled {
  transform: scale(2.5);
  cursor: pointer;
  color: red;
   border: none; 
}
li {
  border-bottom: 1px solid #ccc;
}
li, h1 {
   display: flex;
  justify-content: center;
  align-items: center;
}